html(ng-app="app")
  head
    
    //  Meta Data 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='description')
    meta(name='keywords', content='keywords')
    
    //  Cascading Style Sheets
    link(rel="stylesheet", href="/linker/styles/font-awesome.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel='stylesheet', type='text/css', href='/linker/styles/font.css')
    link(rel='stylesheet', type='text/css', href='/linker/styles/style.css')
    link(rel='stylesheet', type='text/css', href='/linker/styles/leaflet.css')
    
    //  Javascript Includes 
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(type='text/javascript', src='/linker/js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/linker/js/d3.v3.min.js')
    script(type='text/javascript', src='/linker/js/nyCounties.js')
    script(type='text/javascript', src='/linker/js/leaflet.js')
    script(type='text/javascript', src='/linker/js/queue.v1.min.js')
    script(type='text/javascript', src='/linker/js/colorbrewer.js')
    script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
    script(type='text/javascript', src='/linker/js/src/mesonet.js')
    script(type='text/javascript', src='/linker/js/src/mesoStations.js')
    script(type='text/javascript', src='/linker/js/src/behavior.js')
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/services/sailsSocket.js")
    script(type="text/javascript", src="/linker/js/directives/popupDirective.js")
    script(type="text/javascript", src="/linker/js/controllers/mesonetCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/sailsSocketCtrl.js")

    
    title Mesonet Site Selection Tool
  
  body(ng-controller="MesonetCtrl")
    #map
    #info
    #coords
    #hover
    #legend
      h2
        a.closed(href='#') Legend
      #legend-detail
        #leaflet-marker-pane_legend
          strong Proposed Sites
          ul
            li
              img(src='/linker/js/images/green.png' style="width:20px;height:20px")
              span Mesonet Site
            li
              img(src='/linker/js/images/orange.png' style="width:20px;height:20px")
              span Mesonet Profiler
            li
              img(src='/linker/js/images/blue.png' style="width:20px;height:20px")
              span Mesonet SUNY System
            li 
              img(src='/linker/js/images/imp_forecasting.png' style="width:20px;height:20px")  
              span User Added site
            

        #asos_stations_legend
          ul
            li
              svg(width='20', height='20')
                circle.asos(cx='10', cy='10', r='7', fill='#ff0')
              span ASOS Station
        #wind_stations_legend
          ul
            li
              svg(width='20', height='20')
                circle.wind(cx='10', cy='10', r='7', fill='#551a8b')
              span Wind Farm
        #floodplain_layer_legend
          ul
            li
              svg(width='20', height='20')
                rect(width='15', height='15', fill='#000')
              span Flood Hazard Zone
        #county_legend
        #rainfall_layer_legend
    #container(ng-controller="SailsSocketCtrl")
      h1 MESONET Site Selection Tool
      #content
        //strong Station Site Selection
        .whitebox(style="display:none;")
          center
            div(style='width: 90%;')
              span(style='float: left; font-size: 10px; font-weight: light;') Station interval in millionths of degrees Lat/Long
            input#interval_text(type='text', style='border: none; background-color: #f0f0f0; padding-left: 5px; margin-bottom: 5px; font-size: 18pt; width: 90%;', value='3330')
            div(style='width: 90%;')
              span(style='float: left; font-size: 10px; font-weight: light;')  More Stations 
              span(style='float: right; font-size: 10px; font-weight: light;')  Fewer Stations 
            input#interval_slider(type='range', value='3330', min='2645', max='9000', step='10', style='width: 80%;')
            br
            p(style='font-size: 10px; font-weight: light;')
              | Shift Grid Vertically :
              strong
                span#lat-shift 0.0
                | %
            div(style='width: 90%; margin-top: -27px;')
              span(style='float: left; font-size: 10px; font-weight: light;')  down 
              span(style='float: right; font-size: 10px; font-weight: light;')  up 
            input#lat_adjust(type='range', value='0', min='-0.99', max='0.99', step='.01', style='width: 80%;')
            p(style='font-size: 10px; font-weight: light;')
              | Shift Grid Laterally :
              strong
                span#long-shift 0.0
                | %
            div(style='width: 90%; margin-top: -27px;')
              span(style='float: left; font-size: 10px; font-weight: light;')  left 
              span(style='float: right; font-size: 10px; font-weight: light;')  right 
            input#long_adjust(type='range', value='0', min='-0.99', max='0.99', step='.01', style='width: 80%;')
            br
            | Number of Stations :
            span#num_stations
            br

        strong Map Layers
        .whitebox.col-sm-12
          ul#economic(style='list-style: none;')
            li
              a(style='height:35px')#leaflet-marker-pane.active Proposed Mesonet Stations
            li
              a(style='height:35px')#asos_stations.active ASOS Stations
            li
              a(style='height:35px')#wind_stations.active Wind Farms
            li
              a(style='height:35px')#county. County Population
            li
              a(style='height:35px')#huc8. Subbasins (HUC8) 
            li
              a(style='height:35px')#huc10. Watersheds (HUC10) 
            li
              a(style='height:35px')#rainfall_layer. Average Annual Rainfall
            li
              a(style='height:35px')#floodplain_layer. Flood Hazard Zone
        //strong Export Mesonet Sites
        
        .whitebox.col-sm-12(id='main-nav' style='position:absolute;bottom:20px;right:12px;overflow:none;width:90%;display:none;') 
          .user-info(ng-show="loggedIn") Logged in as 
            strong {{user.username}}
            span(style='font-size:12px;float:right;') {{saveChanged}}
            .greybox(style='height: 60px;')
              a.col-sm-12.btn.btn-info.btm-clear(style="margin-bottom:5px" ng-click="saveChanges()") Save Changes
              a.col-sm-12.btn.btn-primary.btm-clear#add_station(style="margin-bottom:5px" ng-click="addStation()") Add Station
              a.col-sm-6.btn.btn-primary.btm-clear#export_csv(ng-show="user.accessLevel == 1" style="margin-bottom:5px;" ng-click="exportStations()") Export CSV
              a.col-sm-6.btn.btn-primary.btm-clear#export_comments(ng-show="user.accessLevel == 1" style="margin-bottom:5px;padding-left:5px;" ng-click="exportComments()") Export Comments
              a.col-sm-12.btn.btn-primary.btm-clear(href='/admin/users' ng-show="user.accessLevel == 1" style="color:#fff;margin-bottom:5px;") Admin Panel
              a.col-sm-12.btn.btn-primary.btm-clear(ng-click="logout()" style="") Logout
          a.col-sm-12.btn(ng-click="openModal()" ng-hide="loggedIn" ) Login
              //a.btn(ng-click="loadStops()" ) loadStops
    #info

    script(type="text/ng-template", id="LoginModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Login'
      .modal-body
        .alert.alert-danger(ng-show="message!=''") {{message}}
        form.form-horizontal(role="form", action="/login", method="post")
          .form-group
            label.col-sm-2.control-label(for="loginUsername") Username
            .col-sm-10
              input.form-control(type="text", id="loginUsername", name="username", placeholder="Username", ng-model="username")
          .form-group
            label.col-sm-2.control-label(for="loginPassword") Password
            .col-sm-10
              input.form-control(type="password", id="loginPassword", name="password", placeholder="Password",ng-model="password")
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('login',username,password)") Login
            button.btn.btn-default(ng-click="cancel()") Cancel

    script(type="text/ng-template", id="CommentModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Comment on Station {{station_id}}' 
      .modal-body
        .alert.alert-danger(ng-show="message!=''") {{message}}
        form.form-horizontal(role="form", action="/login", method="post")
          .form-group
            .col-sm-12
              ='Reason for station '
                select(ng-model='comment.type', ng-change='changeIcon(station)', style='padding: 5px; background-color: #fff;border:1px solid')
                  option(value='improving')  Improving forecasting
                  option(value='profiler')  Profiler site 
                  option(value='high-impact')  Frequent high-impact events 
                  option(value='deficiency')  Model deficiency areas 
                  option(value='other-sectors')  Beneficial to other sectors 
                  option(value='snow')  Snow measurement site 

          .form-group
            .col-sm-12
              textarea.form-control( placeholder="Comment", name="Comment" ng-model="comment.body")
          .form-group(ng-hide="user.id")
            label.col-sm-2.control-label(for="loginUsername") Name
            .col-sm-10
              input.form-control(type="text", id="loginUsername", name="username", placeholder="Your name", ng-model="comment.username")
          .form-group(ng-show="user.id")
            label.control-label(style="float:right;margin-right:10px;") 
              ='Commenting as ' 
              strong {{ user.username }}
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('submit')") Submit
            button.btn.btn-default(ng-click="cancel()") Cancel

    script(type="text/ng-template", id="ViewCommentModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Comments on Station {{station_id}}' 
      .modal-body(style='height:200px;overflow-y:scroll;')
        table.table.table-hover
          thead
            tr
              th 
                strong User
              th 
                strong Comment
          tbody
            tr(ng-repeat="comment in comments")
              td {{comment.username}}
              td {{comment.body}}
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('submit')") Ok
           
            

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-danger.no-margin-bot
          div: strong Error:
          div {{error.message}}